.navbar{
  background: black;
}
.navbar-right a{
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h5{
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}
p{
  font-family: Helvetica, sans-serif;
}
.logo{
  height: 50px;
  padding-right:15px;
}
.headerName{
  font-size: 2em;
  text-decoration: none;
  color: white;
}
.desc{
  min-height: 100px;
}

.size{
  border: 1px solid black;
  padding: 0 10px;
  margin-left: 10px;
  width: 40px;
  text-align: center;
}
.size:hover{
  background: darkgrey;
}

.fa-plus, .fa-minus{
  color: white;
}
.btn-number{
  background: black;
}

.quantity{
  height: 40px;
  max-width: 200px;
  padding: 5px 0;

}
.button2, .button1{
  padding: 10px;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  width: 150px;
  background: #8119CA;
  color: white;
  border: 1px solid black;
}
.button2{
  left: 200px;
}
.result p{
  padding: 0 10px;
}
.personDesc{
  height: 300px;
}
.resultDog{
  padding: 20px;
}
.winnerTitle{
  padding: 20px;
}
.column1, .column2, .column3{
  height: 500px;
}

.thumbnail{
  width: 100px;
  height: 100px;
  margin: 20px 0;
}
.checkout{
  height: 140px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.checkoutContainer{
  max-width: 1000px;
}
.fa-times{
  color: darkgrey;
}
.fa-times:hover{
  color: black;
}
.confButton{
  padding: 10px;
  margin-left: 10px;
  width: 100px;
}
 input {
    min-width: 50px;
}
.price{
  padding: 20px;
}
