.desc{
  min-height: 100px;
}

.size{
  border: 1px solid lightgrey;
  padding: 0 10px;
  margin-left: 10px;
  width: 40px;
  text-align: center;
}
.size:hover{
  background: lightgrey;
}

.fa-plus, .fa-minus{
  color: lightgrey
}
.btn-number{
  background: darkgrey;
}

.quantity{
  height: 40px;
  max-width: 200px;
  padding: 5px 0;
}
.button2, .button1{
  padding: 20px;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  width: 150px;
}
.button2{
  left: 200px;
}
.result p{
  padding: 0 10px;
}
.personDesc{
  height: 300px;
}
.resultDog{
  padding: 40px;
}
.winnerTitle{
  padding: 20px;
}
.column1, .column2, .column3{
  height: 450px;
}

.thumbnail{
  width: 100px;
  height: 100px;
  margin: 20px 0;
}
.checkout{
  height: 140px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.fa-times{
  color: darkgrey;
}
.fa-times:hover{
  color: black;
}
.confButton{
  padding: 10px;
  margin-left: 10px;
  width: 100px;
}
