.navbar{
  background: black;
}
.navbar-right a{
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h5{
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
}
p{
  font-family: Helvetica, sans-serif;
}
.logo{
  height: 50px;
  padding-right:15px;
}
.headerName{
  font-size: 2em;
  text-decoration: none;
  color: white;
}
.headerName:hover{
  color: white;
}
.desc{
  min-height: 100px;
}

.size{
  border: 1px solid black;
  padding: 0 10px;
  margin-left: 10px;
  width: 40px;
  text-align: center;
}
.size:hover{
  background: darkgrey;
}

.fa-plus, .fa-minus{
  color: white;
}
.btn-number{
  background: black;
}

.quantity{
  height: 40px;
  max-width: 200px;
  padding: 5px 0;

}
.button2, .button1{
  padding: 10px;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  width: 150px;
  background: #8119CA;
  color: white;
  border: 1px solid black;
}
.button2{
  left: 200px;
}
.result p{
  padding: 0 10px;
}
.personDesc{
  height: 300px;
}
.resultDog{
  padding: 20px;
}
.winnerTitle{
  padding: 20px;
}
.column1, .column2, .column3{
  height: 500px;
}

.thumbnail{
  width: 100px;
  height: 100px;
  margin: 20px 0;
}
.checkout{
  height: 140px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.checkoutContainer{
  max-width: 1000px;
}
.fa-times{
  color: red;
}
.fa-times:hover{
  color: black;
}
.confButton{
  padding: 10px;
  margin-left: 10px;
  width: 100px;
  background: #8119CA;
  color: white;
  border: 1px solid black;
}
 input {
    min-width: 50px;
}
.price{
  padding: 20px;
}
.submitQuiz{
  margin-top: 20px;
}
.quiz-group {
  margin: 8px 0;
  }
  .quiz-question-strong {
  font-weight: 600;
  padding: 15px 0 10px 0;
  }
  .dogName {
    margin-top: 20px;
  }
  .openHeader{
    padding: 50px;
  }

.descriptionP{
  padding: 20px;
  text-align: center;
  font-size: 1.4em;
}
.imgQ{
  width: 300px;
}
input[type='radio']{
  margin-right: 5px;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: none;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #8119CA;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
